[user]
	name = banyar-shin
	email = banyar.minshin@gmail.com
[core]
	editor = nvim
	autocrlf = input
	excludesfile = /Users/banyar/.gitignore_global
[commit]
	template = /Users/banyar/.stCommitMsg
[init]
	defaultBranch = main
